.movies-card-list {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  
}

.movies-card-list__list {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 58px;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-auto-rows: 1fr;
  justify-items: stretch;
  justify-content: space-between;
}

.movies-card-list__button {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 80px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 146.5px;
  padding-right: 146.5px;
  padding-top: 9.75px;
  padding-bottom: 9.75px;
  background: none;
  border: 1px solid #424242;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    margin-left: 30px;
    margin-right: 30px;
  }

  .movies-card-list__list {
    row-gap: 47px;
    grid-template-columns: repeat(auto-fill, 339px);
    justify-content: center;
  }

  .movies-card-list__button {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .movies-card-list__list {
    row-gap: 39px;
  }

  .movies-card-list__button {
    margin-top: 63px;
    margin-bottom: 80px;
    padding-left: 107.5px;
    padding-right: 107.5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
