.not-logged-in {
  margin-left: auto;
}
.not-logged-in__list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.not-logged-in__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.not-logged-in__link_type_login {
  padding: 8px 20px;
  color: #fc0000;
  background-color: #3ddc84;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .not-logged-in {
    position: relative;
    margin: auto;
    width: fit-content;
  }

  .not-logged-in__list {
    margin-top: 159px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 28px;
  }
}

@media screen and (max-width: 450px) {
  .not-logged-in__list {
    margin-top: 144px;
    gap: 24px;
  }
}
