.navtab {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 30px;
}

.navtab__link {
  padding: 10px 17px;
  background: #303030;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navtab__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 450px) {
  .navtab {
    gap: 6px;
    margin-bottom: 17px;
  }

  .navtab__link {
    padding: 5px 15.5px;
    font-size: 10px;
    border-radius: 6px;
  }
}
