.profile__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.profile__link_type_profile {
  padding: 8px 20px;
  background: #313131;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .profile__link-item {
    position: absolute;
    margin: 0 auto;
    bottom: 90px;
    left: calc(50% - (91px / 2));
  }
}

@media screen and (max-width: 450px) {
  .profile__link-item {
    bottom: 46px;
  }
}
